n8n/blog-content-pipeline.json
{
  "name": "03_Blog_Content_Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Trigger Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [180, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": 1,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-node",
      "name": "Trigger Semanal",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [180, 500],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "const topics = [\n  'Como registrar una compraventa de inmueble en Ecuador paso a paso',\n  'Requisitos para otorgar un poder especial en Ecuador 2026',\n  'Diferencias entre escritura publica y contrato privado en Ecuador',\n  'Guia completa sobre posesion efectiva en Ecuador',\n  'Como calcular los gastos notariales en una compraventa de vehiculo',\n  'Que es el impuesto de alcabala y como se calcula en Quito',\n  'Pasos para tramitar una autorizacion de salida del pais para menores',\n  'Como funciona el registro de la propiedad en Quito',\n  'Errores comunes al escriturar una propiedad en Ecuador',\n  'Poderes telematicos: gestion notarial desde el exterior'\n];\nconst index = Math.floor(Math.random() * topics.length);\nreturn [{ json: { topic: topics[index], index } }];"
      },
      "id": "topic-selector",
      "name": "Seleccionar Tema",
      "type": "n8n-nodes-base.code",
      "position": [440, 400],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "=Eres un abogado experto en derecho notarial ecuatoriano que escribe articulos para el blog de abogadosonlineecuador.com. Escribe un articulo completo en HTML sobre: {{ $json.topic }}\n\nREGLAS:\n- Usa H2 y H3 para subtitulos\n- Parrafos informativos con datos reales de Ecuador 2026\n- SBU vigente: $482\n- Incluye listas con ul/li donde corresponda\n- Minimo 800 palabras\n- Tono profesional pero accesible\n- Incluye CTA al final\n- NO incluyas tag h1 en el content\n- Responde SOLO con JSON valido:\n{\"slug\":\"...\",\"title\":\"...\",\"excerpt\":\"...(max 160 chars)\",\"content\":\"<p>...</p>\",\"category\":\"Inmuebles|Vehiculos|Poderes|Tramites|Legal\",\"tags\":[...],\"seoTitle\":\"...(max 60)\",\"seoDescription\":\"...(max 155)\"}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 4000
        }
      },
      "id": "ai-generate",
      "name": "Generar Articulo (AI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [700, 400],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "CONFIGURAR",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet content = input.text || input.message?.content || JSON.stringify(input);\ncontent = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\ntry {\n  const article = JSON.parse(content);\n  return [{ json: article }];\n} catch (e) {\n  return [{ json: {\n    slug: 'articulo-' + Date.now(),\n    title: content.substring(0, 100),\n    excerpt: content.substring(0, 160),\n    content: '<p>' + content + '</p>',\n    category: 'Legal',\n    tags: ['legal', 'ecuador'],\n    seoTitle: content.substring(0, 60),\n    seoDescription: content.substring(0, 155)\n  }}];\n}"
      },
      "id": "parse-response",
      "name": "Parsear Respuesta",
      "type": "n8n-nodes-base.code",
      "position": [960, 400],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://abogadosonlineecuador.com/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "CONFIGURAR_N8N_WEBHOOK_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event: 'blog.create', data: { slug: $json.slug, title: $json.title, content: $json.content, excerpt: $json.excerpt, category: $json.category, tags: $json.tags, seoTitle: $json.seoTitle, seoDescription: $json.seoDescription } }) }}"
      },
      "id": "send-to-nextjs",
      "name": "Enviar a Next.js",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1220, 400],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-success",
      "name": "Verificar Exito",
      "type": "n8n-nodes-base.if",
      "position": [1480, 400],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result",
              "name": "result",
              "value": "=Draft creado exitosamente: {{ $node['Parsear Respuesta'].json.slug }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "success-output",
      "name": "Exito",
      "type": "n8n-nodes-base.set",
      "position": [1740, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error",
              "name": "error",
              "value": "=Error al crear draft: {{ $json.body?.error || $json.statusMessage || 'Error desconocido' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "error-output",
      "name": "Error",
      "type": "n8n-nodes-base.set",
      "position": [1740, 500],
      "typeVersion": 3.4
    }
  ],
  "connections": {
    "Trigger Manual": {
      "main": [[{"node": "Seleccionar Tema", "type": "main", "index": 0}]]
    },
    "Trigger Semanal": {
      "main": [[{"node": "Seleccionar Tema", "type": "main", "index": 0}]]
    },
    "Seleccionar Tema": {
      "main": [[{"node": "Generar Articulo (AI)", "type": "main", "index": 0}]]
    },
    "Generar Articulo (AI)": {
      "main": [[{"node": "Parsear Respuesta", "type": "main", "index": 0}]]
    },
    "Parsear Respuesta": {
      "main": [[{"node": "Enviar a Next.js", "type": "main", "index": 0}]]
    },
    "Enviar a Next.js": {
      "main": [[{"node": "Verificar Exito", "type": "main", "index": 0}]]
    },
    "Verificar Exito": {
      "main": [
        [{"node": "Exito", "type": "main", "index": 0}],
        [{"node": "Error", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
