n8n/payphone-proxy.workflow.json
{
  "name": "PayPhone Proxy (Prepare + Confirm + Sale)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payphone-links",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-links",
      "name": "Webhook: payphone-links",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        240
      ],
      "webhookId": "payphone-links"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.query.secret}}",
              "operation": "equals",
              "value2": "={{$env.PAYPHONE_PROXY_SECRET}}"
            }
          ]
        }
      },
      "id": "if-links-secret",
      "name": "IF: secret (links)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pay.payphonetodoesposible.com/api/button/Prepare",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "amount",
              "value": "={{$json.body.amount}}"
            },
            {
              "name": "amountWithoutTax",
              "value": "={{$json.body.amountWithoutTax}}"
            },
            {
              "name": "amountWithTax",
              "value": "={{$json.body.amountWithTax}}"
            },
            {
              "name": "tax",
              "value": "={{$json.body.tax}}"
            },
            {
              "name": "service",
              "value": "={{$json.body.service}}"
            },
            {
              "name": "tip",
              "value": "={{$json.body.tip}}"
            },
            {
              "name": "currency",
              "value": "={{$json.body.currency}}"
            },
            {
              "name": "clientTransactionId",
              "value": "={{$json.body.clientTransactionId}}"
            },
            {
              "name": "storeId",
              "value": "={{$json.body.storeId}}"
            },
            {
              "name": "reference",
              "value": "={{$json.body.reference}}"
            },
            {
              "name": "responseUrl",
              "value": "={{$json.body.responseUrl}}"
            },
            {
              "name": "additionalData",
              "value": "={{$json.body.additionalData}}"
            }
          ]
        },
        "options": {
          "followRedirect": false,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.PAYPHONE_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "http-prepare",
      "name": "HTTP Request: Prepare",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        860,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.body}}",
        "options": {
          "responseCode": "={{$json.statusCode}}"
        }
      },
      "id": "respond-prepare",
      "name": "Respond: Prepare",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1080,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'forbidden' } }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "respond-links-forbidden",
      "name": "Respond: 403 (links)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payphone-confirm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-confirm",
      "name": "Webhook: payphone-confirm",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        480
      ],
      "webhookId": "payphone-confirm"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.query.secret}}",
              "operation": "equals",
              "value2": "={{$env.PAYPHONE_PROXY_SECRET}}"
            }
          ]
        }
      },
      "id": "if-confirm-secret",
      "name": "IF: secret (confirm)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pay.payphonetodoesposible.com/api/button/V2/Confirm",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{$json.body.id}}"
            },
            {
              "name": "clientTxId",
              "value": "={{$json.body.clientTxId}}"
            }
          ]
        },
        "options": {
          "followRedirect": false,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.PAYPHONE_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "http-confirm",
      "name": "HTTP Request: Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        860,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.body}}",
        "options": {
          "responseCode": "={{$json.statusCode}}"
        }
      },
      "id": "respond-confirm",
      "name": "Respond: Confirm",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1080,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'forbidden' } }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "respond-confirm-forbidden",
      "name": "Respond: 403 (confirm)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        540
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "payphone-sale",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-sale",
      "name": "Webhook: payphone-sale",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        720
      ],
      "webhookId": "payphone-sale"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.query.secret}}",
              "operation": "equals",
              "value2": "={{$env.PAYPHONE_PROXY_SECRET}}"
            }
          ]
        }
      },
      "id": "if-sale-secret",
      "name": "IF: secret (sale)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        720
      ]
    },
    {
      "parameters": {
        "url": "={{'https://pay.payphonetodoesposible.com/api/Sale/client/' + $json.query.id}}",
        "authentication": "none",
        "options": {
          "followRedirect": false,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.PAYPHONE_TOKEN}}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "http-sale",
      "name": "HTTP Request: Sale",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        860,
        680
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.body}}",
        "options": {
          "responseCode": "={{$json.statusCode}}"
        }
      },
      "id": "respond-sale",
      "name": "Respond: Sale",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1080,
        680
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'forbidden' } }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "respond-sale-forbidden",
      "name": "Respond: 403 (sale)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        780
      ]
    }
  ],
  "connections": {
    "Webhook: payphone-links": {
      "main": [
        [
          {
            "node": "IF: secret (links)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: secret (links)": {
      "main": [
        [
          {
            "node": "HTTP Request: Prepare",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: 403 (links)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Prepare": {
      "main": [
        [
          {
            "node": "Respond: Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: payphone-confirm": {
      "main": [
        [
          {
            "node": "IF: secret (confirm)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: secret (confirm)": {
      "main": [
        [
          {
            "node": "HTTP Request: Confirm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: 403 (confirm)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Confirm": {
      "main": [
        [
          {
            "node": "Respond: Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: payphone-sale": {
      "main": [
        [
          {
            "node": "IF: secret (sale)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: secret (sale)": {
      "main": [
        [
          {
            "node": "HTTP Request: Sale",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: 403 (sale)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Sale": {
      "main": [
        [
          {
            "node": "Respond: Sale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}